@media (min-width: 1200px) {
    .sidebar {
        left: 0;
    }
    
    #main,
    #footer {
        margin-left: 300px;
    }
}

.sidebar-nav .nav-link i {
    margin-right: 10px !important;
}

option,
select,
.swal2-title {
    text-align: center;
}

/* Hide sidebar by default on mobile */
@media (max-width: 1199px) {
    .sidebar {
        left: auto !important;
        right: -300px !important;
    }
    
    /* Show sidebar only when toggle-sidebar class is added */
    body.toggle-sidebar .sidebar {
        left: auto !important;
        right: 0 !important;
    }
}

@media (max-width: 992px) {
    .col-md-3 .btn,
    .col-md-2 .btn {
        margin-left: 73px !important;
    }
}